# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# don't index python environment
.py-venv/*
# don't index PyCharm directory
.idea/*

*.pyc
*.yml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

